/*
	Fonts
*/
@font-face {
  font-family: 'P22UndergroundCYPro';
  src: url('../fonts/P22UndergroundCYPro-Book.eot');
  src: url('../fonts/P22UndergroundCYPro-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/P22UndergroundCYPro-Book.woff2') format('woff2'), url('../fonts/P22UndergroundCYPro-Book.woff') format('woff'), url('../fonts/P22UndergroundCYPro-Book.ttf') format('truetype'), url('../fonts/P22UndergroundCYPro-Book.svg#P22UndergroundCYPro-Book') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'P22UndergroundCYPro';
  src: url('../fonts/P22UndergroundCYPro-Heavy.eot');
  src: url('../fonts/P22UndergroundCYPro-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/P22UndergroundCYPro-Heavy.woff2') format('woff2'), url('../fonts/P22UndergroundCYPro-Heavy.woff') format('woff'), url('../fonts/P22UndergroundCYPro-Heavy.ttf') format('truetype'), url('../fonts/P22UndergroundCYPro-Heavy.svg#P22UndergroundCYPro-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'P22UndergroundCYPro';
  src: url('../fonts/P22UndergroundCYPro-Thin.eot');
  src: url('../fonts/P22UndergroundCYPro-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/P22UndergroundCYPro-Thin.woff2') format('woff2'), url('../fonts/P22UndergroundCYPro-Thin.woff') format('woff'), url('../fonts/P22UndergroundCYPro-Thin.ttf') format('truetype'), url('../fonts/P22UndergroundCYPro-Thin.svg#P22UndergroundCYPro-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
body {
  font-family: 'P22UndergroundCYPro';
}
html {
  font-size: 10px;
}
.main {
  width: 100vw;
  height: 75rem;
  background: url("../img/background-menu.jpg") no-repeat center center;
  background-size: cover;
}
.logo {
  margin-top: 5rem;
}
.logo__caption {
  display: inline-block;
  color: #ffffff;
  vertical-align: top;
  margin-left: 0.5rem;
  font-size: 18px;
  font-weight: 800;
  line-height: 16px;
  text-align: left;
}
.logo__caption span {
  display: inline-block;
  font-size: 10px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 100;
  line-height: 16px;
  text-align: left;
}
.contact__button {
  display: inline-block;
  line-height: 5rem;
  width: 16.5rem;
  height: 5rem;
  text-align: center;
  border-radius: 0.1rem;
  border: 0.1rem solid #ffffff;
  margin-top: 5rem;
}
.contact__button .contact__text {
  display: inline-block;
  height: 1.7rem;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 100;
  text-align: center;
}
.phone {
  line-height: 5rem;
  height: 5rem;
  margin-top: 5rem;
}
.phone .phone__number {
  display: inline-block;
  color: #ffffff;
  font-size: 25px;
  font-weight: 800;
}
.caption {
  margin-top: 55px;
  text-align: center;
}
.caption__text {
  color: #ffff33;
  font-size: 37px;
  font-weight: 800;
  line-height: 45px;
}
.zayavka__about {
  display: block;
  margin-top: 22rem;
  color: #ffffff;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 35px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.zayavka__form {
  display: block;
  margin-top: 3.5rem;
  width: 420px;
  height: 413px;
  background-color: #ffff;
  text-align: center;
}
.zayavka__form .form__caption {
  color: #333333;
  font-size: 22px;
  font-weight: 300;
  line-height: 25px;
  margin-top: ;
}
@media screen and (max-width: 700px) {
  .logo {
    text-align: center;
  }
  .contact {
    text-align: center;
    margin-top: -15px;
  }
  .phone {
    text-align: center;
    margin-top: 0rem;
  }
  .caption {
    text-align: center;
    margin-top: 10px;
  }
  .caption__text {
    display: inline-block;
    width: 320px;
    font-size: 20px;
    line-height: 20px;
  }
}
