@font-face {
  font-family: "GothaProReg";
  src: url("../fonts/GothaProReg.otf");
  
  /* Гарнитура шрифта */
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "GothaProLig";
  src: url("../fonts/GothaProLig.otf");
  
  /* Гарнитура шрифта */
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "GothaProMed";
  src: url("../fonts/GothaProMed.otf");
  
  /* Гарнитура шрифта */
  /* Путь к файлу со шрифтом */
}
body,
html {
  overflow-x: hidden;
}
.first-screen {
  z-index: 0;
  background: url("../img/1screen/bg.jpg") no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 802px;
}
.first-screen .captions__text4 {
  display: block;
  color: #444444;
  font-family: "GothaProReg";
  font-size: 24px;
  font-weight: 400;
}
.first-screen .captions__text4 span {
  color: #ff3366;
  font-family: "GothaProReg";
  font-weight: 400;
}
.first-screen .ss .carousel1 {
  width: 600px;
}
.first-screen .carousel-wrapper {
  margin: 10px 30px;
  /* отступы для стрелок */
  overflow: hidden;
  /* скрываем содержимое, выходящее за рамки основной области */
  position: relative;
}
.first-screen .carousel-items {
  width: 10000px;
  /* устанавливаем большую ширину для набора элементов */
  position: relative;
  /* позиционируем блок относительно основной области карусели */
}
.first-screen .carousel-block {
  margin-left: 40px;
  float: left;
  /* выстраиваем все элементы карусели в ряд */
  width: 500px;
  /* задаём ширину каждого элемента */
  padding: 50px 50px 50px 0px;
  /* делаем оступы, чтобы элементы не сливались */
}
.first-screen .girll__ramka1 {
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  width: 450px;
  height: 450px;
  z-index: 2;
  background: url("../img/1screen/bg.png") no-repeat center center;
  background-size: cover;
}
.first-screen .carousel-indicators {
  position: absolute;
  top: 340px;
}
.first-screen .girll__ramka2 {
  margin-left: -120px;
  margin-top: -80px;
  width: 550px;
  height: 550px;
  z-index: 1;
  background: url("../img/1screen/bg-1.png") no-repeat center center;
  background-size: cover;
}
.first-screen h2 {
  margin: 0;
  color: #666;
  padding-top: 90px;
  font-size: 52px;
  font-family: "trebuchet ms", sans-serif;
}
.first-screen .item {
  text-align: center;
  height: 300px !important;
}
.first-screen .item img {
  width: 350px;
  height: 350px;
  border-radius: 50px;
}
.first-screen .carousel {
  z-index: 2;
  width: 350px;
  height: 350px;
  padding-top: 50px;
  margin-left: 50px;
}
.first-screen .carousel-inner {
  width: 350px;
  height: 350px;
}
.first-screen .carousel-control {
  opacity: 0;
}
.first-screen nav {
  z-index: 4;
  background-color: #ffffff;
  width: 100vw;
  position: fixed;
  text-align: center;
}
.first-screen .top-nav {
  margin-top: 10px;
}
.first-screen .top-nav__name {
  color: #555555;
  font-family: "GothaProReg";
  font-size: 15px;
  font-weight: 400;
}
.first-screen .navbar-collapse.in {
  background-color: #ffffff;
  width: 100vw;
  margin-top: -35px;
  height: 100vh;
}
.first-screen .navbar-collapse.in a {
  display: block;
  color: #555555;
  font-family: "GothaProReg";
  font-size: 15px;
}
.first-screen .navbar-collapse.in a:hover {
  background-color: rgba(0, 0, 0, 0.01);
}
.first-screen .captions {
  margin-top: 158px;
}
.first-screen .captions__text1 {
  color: #333333;
  font-family: "GothaProReg";
  font-size: 40px;
  font-weight: 400;
}
.first-screen .captions__text2 {
  margin-top: 20px;
  font-family: "GothaProReg";
  color: #ff3366;
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
}
.first-screen .captions__text3 {
  margin-top: 10px;
  margin-left: -10px;
  display: block;
  color: #666666;
  font-family: "GothaProReg";
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
}
.first-screen .button-site__btn,
.first-screen .button-site__btn:active,
.first-screen .button-site__btn:focus {
  outline: none;
  border: 0;
}
.first-screen .button-site {
  margin-top: 30px;
  margin-left: -20px;
}
.first-screen .button-site__btn {
  width: 200px;
  height: 45px;
  border-radius: 22px;
  background-color: #ff3366;
  border: 0;
  outline: none;
}
.first-screen .button-site p {
  line-height: 45px;
  z-index: 0;
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
}
.second-screen .caption {
  margin-top: 85px;
}
.second-screen .caption__text {
  display: block;
  font-family: "GothaProReg";
  color: #333333;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.second-screen .second-screen-position {
  margin-left: 60px;
}
.second-screen .article-first {
  margin-top: 65px;
}
.second-screen .article-first__caption {
  font-family: "GothaProReg";
  color: #333333;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}
.second-screen .article-first__about {
  font-family: "GothaProLig";
  margin-top: 7px;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}
.second-screen .article-first img {
  display: block;
  margin-top: 76px;
}
.second-screen .article-second {
  margin-top: 65px;
}
.second-screen .article-second__caption {
  font-family: "GothaProReg";
  display: block;
  margin-top: 69px;
  color: #333333;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
}
.second-screen .article-second__about {
  font-family: "GothaProLig";
  display: block;
  margin-top: 7px;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}
.second-screen .article-second img {
  margin-left: 60px;
}
.second-screen .button-site__btn,
.second-screen .button-site__btn:active,
.second-screen .button-site__btn:focus {
  outline: none;
  border: 0;
}
.second-screen .button-site {
  margin-top: 40px;
  left: 50%;
  margin-left: -155px;
  margin-bottom: 100px;
}
.second-screen .button-site__btn {
  width: 200px;
  height: 45px;
  border-radius: 22px;
  background-color: #ff3366;
  border: 0;
  outline: none;
}
.second-screen .button-site p {
  line-height: 45px;
  z-index: 0;
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
}
.third-screen .line {
  margin-top: -12px;
}
.third-screen .line__img {
  width: 100%;
}
.third-screen .caption {
  margin-top: 44px;
}
.third-screen .caption__text {
  text-align: center;
  color: #333333;
  font-family: "GothaProReg";
  font-size: 40px;
  font-weight: 400;
  line-height: 70px;
}
.third-screen .girl {
  margin-top: 42px;
  margin-bottom: 100px;
}
.third-screen .girl__caption {
  color: #333333;
  font-family: "GothaProReg";
  /* Text style for "Bridget 49" */
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.9px;
  line-height: 30px;
  text-align: center;
  margin-top: 15px;
}
.third-screen .girl__text {
  color: #333333;
  font-family: "GothaProLig";
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
}
.fourth-screen {
  background: url("../img/4screen/bg.jpg") no-repeat center center;
  background-size: cover;
}
.fourth-screen .caption-l1__text {
  margin-top: 135px;
  color: #ffffff;
  font-family: "GothaProReg";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.fourth-screen .caption-l2__text {
  color: #ffffff;
  font-family: "GothaProMed";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.42px;
  text-align: center;
}
.fourth-screen .text {
  margin-top: 35px;
}
.fourth-screen .text p {
  display: block;
  margin-top: 25px;
  color: #ffffff;
  font-family: "GothaProLig";
  font-size: 15px;
  font-weight: 300;
  text-align: justify;
}
.fourth-screen .text p:before {
  content: '• ';
}
.fourth-screen .button-site__btn,
.fourth-screen .button-site__btn:active,
.fourth-screen .button-site__btn:focus {
  outline: none;
  border: 0;
}
.fourth-screen .button-site {
  margin-top: 40px;
  left: 50%;
  margin-left: -110px;
  margin-bottom: 135px;
}
.fourth-screen .button-site__btn {
  width: 200px;
  height: 45px;
  border-radius: 22px;
  background-color: #ffffff;
  border: 0;
  outline: none;
}
.fourth-screen .button-site p {
  line-height: 45px;
  z-index: 0;
  color: #ff3366;
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
}
.fifth-screen {
  /* стили блока аккордеон */
  /* секции аккордеона */
  /* заголовки панелей аккордеона */
  /* переключатель панелей, положение вниз */
  /* активный переключатель, положение вверх */
  /* заголовок активного блока  */
  /* блоки с содержанием */
  /* параграф внутри блоков с содержанием */
  /* картинки внутри аккордеона */
  /* полноразмерная картинка */
  /* миниатюра слева */
  /* миниатюра справа */
}
.fifth-screen .caption-l1 {
  margin-top: 85px;
}
.fifth-screen .caption-l1__text {
  color: #333333;
  font-family: "GothaProReg";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.fifth-screen .accordion {
  width: 100%;
  max-width: 825px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.fifth-screen .accordion .accordion_item {
  margin-bottom: 1px;
  position: relative;
}
.fifth-screen .accordion .title_block {
  color: #444444;
  font-family: "GothaProReg";
  font-size: 15px;
  font-weight: 400;
  padding: 10px 50px 10px 50px;
  border-radius: 25px;
  border: 1px solid #f6ecef;
}
.fifth-screen .accordion .title_block:before {
  content: '+';
  height: 8px;
  width: 8px;
  display: block;
  position: absolute;
  right: 20px;
  top: 25%;
  font-family: "GothaProReg";
  font-weight: 400;
  color: #ff3366;
  font-size: 25px;
}
.fifth-screen .accordion .active_block .title_block:before {
  border-radius: 25px;
  display: block;
  content: "-";
  top: 8px;
  font-size: 25px;
}
.fifth-screen .accordion .active_block .title_block {
  background: #ffffff;
  z-index: 2;
  color: #444444;
  font-family: "GothaProReg";
  font-size: 15px;
  font-weight: 400;
  padding: 10px 50px 10px 50px;
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #f6ecef;
}
.fifth-screen .accordion .info {
  z-index: 1;
  display: none;
  padding: 20px 15px;
  overflow: hidden;
  margin-top: -10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #f7f7f7;
  color: #555555;
  font-family: "GothaProLig";
  font-size: 13px;
  font-weight: 300;
}
.fifth-screen .accordion .info_item {
  margin-bottom: 10px;
}
.fifth-screen .accordion .info img {
  height: auto;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.fifth-screen .large-img {
  width: 100%;
  margin-bottom: 10px;
}
.fifth-screen .img-left {
  width: 25%;
  float: left;
  margin: 5px 15px 5px 0;
}
.fifth-screen .img-right {
  width: 25%;
  float: right;
  margin: 5px 0 5px 15px;
}
.sixth-screen {
  background: url("../img/6screen/bg.jpg") no-repeat center center;
  background-size: cover;
}
.sixth-screen .my_form {
  max-width: 825px;
}
.sixth-screen .caption-l1 {
  margin-top: 95px;
  margin-bottom: 40px;
}
.sixth-screen .caption-l1__text {
  color: #333333;
  font-family: "GothaProReg";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.sixth-screen label {
  color: #555555;
  font-family: "GothaProMed";
  font-size: 12px;
  font-weight: 500;
}
.sixth-screen .button-site__btn,
.sixth-screen .button-site__btn:active,
.sixth-screen .button-site__btn:focus {
  outline: none;
  border: 0;
}
.sixth-screen .button-site {
  margin-top: 40px;
  left: 50%;
  margin-left: -110px;
  margin-bottom: 135px;
}
.sixth-screen .button-site__btn {
  width: 200px;
  height: 45px;
  border-radius: 22px;
  background-color: #ff3366;
  border: 0;
  outline: none;
}
.sixth-screen .button-site p {
  line-height: 45px;
  z-index: 0;
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .first-screen .ss {
    margin-top: -100px;
  }
  .first-screen .carousel-indicators {
    position: absolute;
    top: 260px;
  }
  .first-screen .girll__ramka1 {
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    width: 350px;
    height: 350px;
  }
  .first-screen .girll__ramka2 {
    width: 450px;
    height: 450px;
  }
  .first-screen .item img {
    width: 250px;
    height: 250px;
  }
  .first-screen .carousel {
    z-index: 2;
    width: 250px;
    height: 250px;
  }
  .first-screen .carousel-inner {
    width: 250px;
    height: 250px;
  }
  .first-screen .captions__text1 {
    font-size: 30px;
  }
  .first-screen .captions__text2 {
    margin-top: 20px;
    font-size: 32px;
  }
  .first-screen .captions__text3 {
    margin-top: 22px;
    font-size: 20px;
  }
  .first-screen .captions__text4 {
    margin-top: 120px;
    font-size: 30px;
  }
  /* 2 экран */
  .article-second {
    margin-left: 30px;
  }
  .second-screen-position {
    margin-left: 20px;
  }
  .second-screen .caption .caption__text {
    font-size: 35px;
  }
  .second-screen .article-second__caption {
    font-size: 21px;
  }
  .second-screen .article-first__caption {
    font-size: 21px;
  }
  .second-screen .article-second img {
    margin-left: -20px;
  }
  /* - 2 экран */
  /* 3 экран */
  .third-screen .girl__img {
    width: 100%;
    height: 100%;
  }
  /* - 3 экран */
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .first-screen .girll__ramka1 {
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    width: 200px;
    height: 200px;
  }
  .first-screen {
    height: 730px;
  }
  .first-screen .ss {
    margin-top: -70px;
  }
  .first-screen .girll__ramka2 {
    margin-top: 0px;
    width: 250px;
    height: 250px;
  }
  .first-screen .item img {
    width: 150px;
    height: 150px;
  }
  .first-screen .carousel {
    z-index: 2;
    width: 150px;
    height: 150px;
  }
  .first-screen .carousel-indicators {
    position: absolute;
    top: 140px;
    left: 50px;
  }
  .first-screen .carousel-inner {
    margin-left: -25px;
    margin-top: -25px;
    width: 150px;
    height: 150px;
  }
  .top-nav .top-nav__name {
    font-size: 12px;
  }
  .first-screen .button-site__btn {
    position: absolute;
    margin-left: 10px;
  }
  .first-screen .captions__text1 {
    font-size: 29px;
  }
  .first-screen .captions__text2 {
    font-size: 29px;
  }
  .first-screen .captions__text3 {
    font-size: 15px;
  }
  .first-screen .captions__text4 {
    margin-top: 120px;
  }
  /* 2 экран */
  .second-screen .caption .caption__text {
    font-size: 28px;
  }
  .second-screen .article-second__caption {
    font-size: 23px;
    margin-top: 0px;
  }
  .second-screen .article-first__caption {
    font-size: 23px;
  }
  .second-screen .article-second__about {
    margin-right: 30px;
  }
  .second-screen .article-first__about {
    margin-right: 30px;
  }
  .second-screen .article-first img {
    margin-top: 20px;
    margin-left: 15%;
  }
  .second-screen .article-second img {
    margin-top: 20px;
    margin-left: 15%;
  }
  .second-screen .button-site__btn {
    margin-left: -2%;
  }
  /* - 2 экран */
  /* 3 экран */
  .third-screen .girl {
    margin-left: 5%;
  }
  .third-screen .girl__img {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 20px;
  }
  /* - 3 экран */
  .sixth-screen .my_form {
    max-width: 420px;
  }
}
@media screen and (max-width: 767px) {
  .first-screen .girll__ramka1 {
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    width: 200px;
    height: 200px;
  }
  .first-screen .girll__ramka2 {
    position: absolute;
    left: 95%;
    margin-top: 30px;
    width: 250px;
    height: 250px;
  }
  .first-screen {
    height: 802px;
  }
  .first-screen .girll {
    margin-top: 40px;
  }
  .first-screen .ss {
    position: absolute;
    left: 7%;
    top: 270px;
    width: 200px;
    margin-top: -30px;
  }
  .first-screen .ss .carousel {
    width: 300px;
  }
  .first-screen .ss .carousel-block {
    width: 300px;
  }
  .first-screen .ss .carousel-block p {
    font-size: 20px;
  }
  .first-screen .shadow {
    width: 300px;
  }
  .first-screen .carousel-wrapper {
    margin-top: 40px;
    margin-left: -10%;
    width: 300px;
  }
  .first-screen .carousel-wrapper p {
    font-size: 22px;
  }
  .first-screen .item img {
    width: 150px;
    height: 150px;
  }
  .first-screen .carousel {
    z-index: 2;
    width: 150px;
    height: 150px;
  }
  .first-screen .carousel-indicators {
    position: absolute;
    top: 140px;
    left: 50px;
  }
  .first-screen .carousel-inner {
    margin-left: -25px;
    margin-top: -25px;
    width: 150px;
    height: 150px;
  }
  .first-screen .button-site__btn {
    position: absolute;
    left: 50%;
    margin-left: -80px;
  }
  .first-screen .captions__text1 {
    text-align: center;
    font-size: 18px;
    margin-top: -80px;
  }
  .first-screen .captions__text2 {
    margin-top: 70px;
    text-align: center;
    font-size: 25px;
  }
  .first-screen .captions__text3 {
    margin-top: 0px;
    text-align: center;
    font-size: 13px;
  }
  .first-screen .captions__text4 {
    margin-top: 120px;
    text-align: center;
    font-size: 22px;
  }
  .sixth-screen .my_form {
    max-width: 420px;
  }
  /* 2 экран */
  .second-screen .second-screen-position {
    margin-left: -15px;
  }
  .second-screen .button-site {
    margin-left: -16%;
  }
  .second-screen .caption .caption__text {
    font-size: 20px;
  }
  .second-screen .article-second__caption {
    font-size: 17px;
    margin-top: 0px;
    font-weight: 700;
  }
  .second-screen .article-first__caption {
    font-size: 17px;
    margin-top: 0px;
    font-weight: 700;
  }
  .second-screen .article-first img {
    margin-top: 20px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
  }
  .second-screen .article-second img {
    margin-top: 20px;
    margin-left: 0px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
  }
  /* - 2 экран */
  /* 3 экран */
  .third-screen .girl__img {
    width: 55%;
    height: 55%;
    margin-left: 23%;
    margin-top: 20px;
  }
  /* - 3 экран */
}
@media screen and (max-width: 507px) {
  .second-screen .button-site__btn {
    margin-left: -7%;
  }
}
@media screen and (max-width: 407px) {
  .second-screen .button-site__btn {
    margin-left: -10%;
  }
}
@media screen and (max-width: 357px) {
  .second-screen .button-site__btn {
    margin-left: -15%;
  }
}
@media screen and (max-width: 320px) {
  .second-screen .button-site__btn {
    margin-left: -18%;
  }
}
@media screen and (max-width: 300px) {
  .second-screen .button-site__btn {
    margin-left: -19%;
  }
}
footer {
  text-align: center;
  width: 100%;
  background-color: #f6f6f6;
}
footer p {
  color: #888888;
  font-family: "GothaProReg";
  font-size: 12px;
  font-weight: 300;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
